/* Common Style Start */
/* Common Style Start */

html, body{
    height: 100%;
    font-size: 16px;
    margin: 0;
    line-height: 1.8em;
    font-weight: 400;
    font-family: "lato", sans-serif;
}

/* first and last section and image section style start */
/* first and last section and image section style start */

.parallax-img-one{
    background-image: url(image1.jpg);
    min-height: 100%;
    background-attachment: fixed;
}
.parallax-img-one{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.parallax-heading-one{
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.parallax-heading-bg{
    background-color: #31353479;
    padding: 25px 40px;
    border-radius: 15px;
}
.section-one{
    padding: 50px 80px;
    text-align: center;
    border: none;
    color: white;
}
.light{
    background-color: #2b2e2b;
}

/* Second section style start */
/* Second section style start */

.parallax-img-two{
    background-image: url(image2.jpg);
    min-height: 80%;
    background-attachment: fixed;
}
.parallax-img-two{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Thired Section style start */
/* Thired Section style start */

.parallax-img-three{
    background-image: url(image3.jpg);
    min-height: 80%;
    background-attachment: fixed;
}
.parallax-img-three{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}